@import './variables';
@import './student.scss';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "tajawal";
    src: url(../Fonts/Tajawal-Regular.ttf);
}
body.main{
    font-family: "tajawal",sans-serif !important;
    background-color: $bg-color;
}
.section-title{
    font-size: 36px;
    color: #000;
    font-weight: bold;
    margin: 50px 0;
}
h5{
    font-size: 21px;
    font-weight: bold;
    margin-top: 25px;
    color: #000;
    span{
        font-size: 18px;
        color: #555;
        margin-bottom: 15px;
    }
}
.details-btn{
    color: $main-color;
    border: 1px solid $main-color;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    padding: 0 16px;
    margin-top: 15px;
    transition: all ease 0.5s;
    &:hover{
        color: $hover-color;
        background-color: $main-color;
    }
}

// navbar
nav.navbar {
    z-index: 30;
    background-color: #fff;
    border: 1px solid #eee;
    .nav-item {
        &:not(:last-child){
            margin-left: 5px;
        }
        a.nav-link {
            color: $main-color;
            font-size: 16px;
            font-weight: bold;
            line-height: 40px;
            padding: 0 16px;
            transition: all ease 0.5s;
            &:hover{
                background-color: $main-color;
                color: $hover-color;
            }
            &.active{
                background-color: $main-color;
                color: $hover-color;
            }
        }
    }
    .navbar-brand{
        width: 5%;
        img {
            width: 100%;
        }
    }
}
// About-us
.about-us{
        padding: 80px 0;
        position: relative;
        .carousel-inner {
            width: 80%;
            height: 400px;
            margin: auto;
        }
        button{
            width: 70px;
            height: 70px;
            border: 1px solid $main-color;
            color: $main-color;
            border-radius: 50%;
            opacity: 1;
            margin-top: auto;
            margin-bottom: auto;
            i{
                color: $main-color;
            }
        }
        .about-us-p{
            margin-top: 20px;
            p{
                color: $main-color;
                width: 80%;
                text-align: center;
                padding-left: 15px;
                font-size: 24px;
                line-height: 30px;
            }
        }
}
// Our-activities
.our-activities{
    padding: 60px 0;
    background-color: #fff;
    .activity{
        i {
            width: 70px;
            height: 70px;
            line-height: 70px;
            color: #fff;
            background-color: $main-color;
            text-align: center;
            display: block;
            border-radius: 50%;
        }
        &:nth-child(odd){
            h5{
                text-align: right;
                margin-right: -20px;
            }
        }
        &:nth-child(even){
            i{
                float: left;
            }
            h5{
                text-align: left;
                margin-left: -20px;
            }
        }
    }
}
// Our-students
.our-students{
    .section-title{
        margin-bottom: 0;
    }
    .students-details{
        width: 80%;
        margin: 0 auto 80px;
        .carousel{
            button{
                z-index: 20;
                i{
                    padding: 10px 20px;
                    color: $main-color;
                    border: 2px solid $main-color;
                    border-radius: 10%;
                }
            }
            .carousel-control-prev {
                transform: translate(40%, 10%);
            }
            .carousel-control-next {
                transform: translate(-40%, 10%);
            }
            .carousel-indicators {
                bottom: -8px;
                button {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 1px solid $main-color;
                    background-color: $hover-color;
                }
                button.active {
                    background-color: $main-color;
                }
            }
        }
        .carousel-item {
            min-height: 550px;
            .carousel-caption {
                background-color: #fff;
                height: 100%;
                width: 100%;
                padding: 80px 70px 35px;
                right: 0%;
                top: 20%;
                img {
                    position: absolute;
                    top: -10%;
                    right: 50%;
                    transform: translateX(50%);
                    height: 60%;
                    width: 60%;
                    z-index: 10;
                    border-radius: 10%;
                }
                div{
                    position: absolute;
                    right: 50%;
                    bottom: 30%;
                    transform: translateX(50%);
                }
            }
        }
    }
}
// Stars
.stars{
    .star{
        width: 80%;
        transform: scale(0.8);
        transition: all 0.5s ease;
        &:hover{
            transform: scale(1);
            img{
                opacity: 1;
            }
        }
        img{
            transition: all 0.5s ease;
            opacity: 0.7;
        }
    }
}
// Contact-us
.contact-us .map iframe {
    height: 200px;
    width: 90%;
}
.contact-us{
    .contact{
        ul {
            list-style: none;
            padding: 30px 0;
            li{
                margin-bottom: 20px;
                text-align: right;
                padding-right: 30px;
                i{
                    font-size: 24px;
                }
                h5{
                    display: inline;
                    margin-right: 10px;
                }
            }
        }
    }
}
.overlay-form{
    background-color: rgba(53, 58, 95, 0.8);
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 50;
    padding: 5% 10%;
    opacity: 1;
    margin-top: -100vh;
    transition: 1s all ease;
    i#close{
        font-size: 28px;
        display: block;
        color: $hover-color;
        position: absolute;
        top: 5%;
        left: 5%;
        cursor: pointer;
        transition: all ease 0.2s;
        &:hover{
            transform: scale(1.06);
        }
    }
    .sign-up-form, .sign-in-form{
        background-color: #fff;
        color: #333;
        border-radius: 10px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 40%);
        margin-top: 20px;
        height: 80vh;
        width: 55%;
        z-index: 10;
        transition: all ease 0.8s;
        i{
            color: $main-color;
            position: absolute;
            right: 5%;
            cursor: pointer;
        }
        .form-inline{
            justify-content: space-between;
        }
        .form-text {
            h3 {
                font-size: 24px;
                color: #181c1c;
                font-weight: bold;
            }
        }
        input, select{
            text-align: right;
            &:focus{
                outline: none;
                box-shadow: none;
                border: 1px solid #999;
            }
        }
        button {
            background-color: $main-color;
            font-size: 15px;
            color: #fff;
            padding: 5px 20px;
            border-radius: 3px;
            width: auto;
            margin-right: 12px;
            border: 0;
        }
        .account{
            float: left;
            margin-top: 5px;
        }
    }
    .remove-sign-up{
        transform: translateX(195%);
        opacity: 0;
    }
    .show-sign-in{
        transform: translate(0, -104%) !important;
        opacity: 1;
    }
    .remove-sign-in{
        transform: translate(-200%, -104%);
        opacity: 0;
    }
}
.show-overlay{
    margin-top: 0;
}
footer {
    background-color: #111;
    padding: 30px 0;
    p {
        font-size: 15px;
        color: #acacac;
    }
}
// Media queries
@media (max-width: 992px){
    // About-us
    .about-us{
        .carousel-inner{
            height: 300px;
        }
        button.carousel-control-prev{
            margin-right: -20px;
        }
        button.carousel-control-next{
            margin-left: -20px;
        }
    }
    // Our-activities
    .activity{
        i {
            width: 50px;
            height: 50px;
            line-height: 50px;
        }
        &:nth-child(odd){
            padding-right: 125px;
        }
        &:nth-child(even){
            padding-left: 125px;
        }
    }
    // Our-students
    .our-students{
        overflow-x: hidden;
        .students-details{
            width: 100%;
        }
    }
    .stars{
        .star{
            width: 100%;
        }
    }
    .contact-us{
        .contact{
            ul {
                li{
                    padding-right: 10px;
                    i{
                        font-size: 18px;
                    }
                    h5{
                        font-size: 18px;
                        span{
                            font-size: 16;
                        }
                    }
                }
            }
        }
    }
    .sign-up-form, .sign-in-form{
        width: 90% !important;
    }
}
@media (max-width: 768px){
    .about-us{
        .carousel-inner{
            height: 200px;
        }
        button{
            width: 50px;
            height: 50px;
        }
        .about-us-p{
            margin-top: 15px;
            p{
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
    .our-activities{
        .activity{
            margin-bottom: 20px;
            &:nth-child(odd){
                padding-right: 80px;
            }
            &:nth-child(even){
                padding-left: 80px;
            }
        }
    }
    .our-students{
        .students-details{
            width: 90%;
            .carousel-item {
            min-height: 450px;
                img{
                    height: 50% !important;
                    width: 50% !important;
                }
            }
            .carousel{
                button{
                    i{
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
    .stars{
        .star{
            width: 90%;
            transform: scale(1);
            img{
                opacity: 1;
            }
        }
    }
    .contact-us{
        .contact{
            ul {
                li{
                    text-align: center;
                }
            }
        }
    }
    .overlay-form{
        .sign-in-form{
            height: 85vh;
            margin-top: 5%;
        }
        .sign-up-form{
            height: 85vh;
            margin-top: 5%;
            
            .form-inline{
                label{
                    width: 100%;
                    justify-content: flex-start;
                    margin-bottom: 5px;
                }
            }
        }
        .was-validated {
            select.form-control:valid, select.form-control.is-valid{
                padding-left: 1.5rem !important;
            }
        }
    }
}
@media (max-width: 576px){
    .about-us{
        button.carousel-control-prev{
            margin-right: -10px;
        }
        button.carousel-control-next{
            margin-left: -10px;
        }
    }
    .overlay-form{
        .sign-in-form{
            height: 85vh;
            margin-top: 5%;
        }
    }
}
@media (max-width: 472px){
    .section-title{
        font-size: 24px;
    }
    .about-us{
        .about-us-title{
            h3{
                margin-top: 0;
            }
        }
        .carousel-inner{
            height: 150px;
        }
        button{
            width: 30px;
            height: 30px;
        }
        button.carousel-control-prev{
            margin-right: 0;
        }
        button.carousel-control-next{
            margin-left: 0;
        }
        .about-us-p{
            margin-top: 5px;
            p{
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
    .our-activities{
        .activity{
            i {
                margin-top: 30px;
                font-size: 16px;
                width: 40px;
                height: 40px;
                line-height: 40px;
                margin-top: 10px;
            }
            h5{
                font-size: 14px;
            }
        }
    }
    .our-students{
        .students-details{
            .carousel-item {
                min-height: 350px;
                .carousel-caption{
                    padding: 60px 40px 35px !important;
                    img{
                        height: 50% !important;
                        width: 50% !important;
                    }
                    h5{
                        font-size: 16px;
                        margin-top: 10px;
                        span{
                            font-size: 14px;
                        }
                    }
                }
            }
            .carousel{
                button.carousel-control-next,
                button.carousel-control-prev{
                    opacity: 0;
                }
            }
        }
    }
}
